.big-box {
    position: relative;
    margin: 100px auto 500px;
    border: 5px solid black;
    width: 500px;
    height: 500px;
}

.small-box {
    width: 100px;
    height: 100px;
}

#red {
    background-color: red;
    /* 큰 사각형 내부의 우측 하단 모서리에 빨간 사각형 위치시키기 */
    position: absolute;
    /* 부모가 static이 아님. */
    bottom: 0px;
    right: 0px;
}

#gold {
    background-color: gold;
    /* 브라우저의 하단에서 50px, 우측에서 50px 위치에 고정하기 */
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#green {
    background-color: green;
    /* absolute 이용해서 큰 사각형의 가운데 위치시키기 */
    /* z-index: 2; /* 숫자가 클 수록 앞으로 옴. */
    position: absolute;
    top: 200px;
    left: 200px;
}

#blue {
    background-color: blue;
    position: relative;
    top: 100px;
    left: 100px;
    /* relative를 사용해서 큰 사각형 좌측 상단 모서리에서 100px, 100px 띄우기 */
}

#pink {
    background-color: pink;
    position: absolute;
    top: 0px;
    left: 0px;
    /* 큰 사각형 내부의 좌측 상단 모서리로 옮기기*/
}